Output
/RevBayes/lib/gdk-pixbuf-2.0/2.10.0/loaders.cache
/RevBayes/RevStudio.exe
/Indelly/.vs/TongueTwister/v16
/Indelly/Debug/TongueTwister.tlog
/Indelly/Debug/vc142.pdb
/Indelly/Debug/vc142.idb
/Indelly/Debug/UserSettings.obj
/Indelly/Debug/UpdateInfo.obj
/Indelly/Debug/Tree.obj
/Indelly/Debug/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/Debug/TongueTwister.log
/Indelly/Debug/TongueTwister.exe.recipe
/Indelly/Debug/TongueTwister.Build.CppClean.log
/Indelly/Debug/RateMatrixHelper.obj
/Indelly/Debug/RandomVariable.obj
/Indelly/Debug/ParameterTree.obj
/Indelly/Debug/ParameterRatesGammaShape.obj
/Indelly/Debug/ParameterIndelRates.obj
/Indelly/Debug/ParameterAlignment.obj
/Indelly/Debug/Parameter.obj
/Indelly/Debug/NodeSet.obj
/Indelly/Debug/Node.obj
/Indelly/Debug/Msg.obj
/Indelly/Debug/Mcmc.obj
/Indelly/Debug/main.obj
/Indelly/Debug/IntVector.obj
/Indelly/Debug/Alignment.obj
/Indelly/TongueTwister.vcxproj.user
/Indelly/TongueTwister.vcxproj.filters
/Indelly/TongueTwister.vcxproj
/Indelly/x64/Debug/TongueTwister.tlog
/Indelly/x64/Debug/RateMatrixHelper.obj
/Indelly/x64/Debug/RandomVariable.obj
/Indelly/x64/Debug/ParameterTree.obj
/Indelly/x64/Debug/ParameterRatesGammaShape.obj
/Indelly/x64/Debug/ParameterIndelRates.obj
/Indelly/x64/Debug/ParameterExchangabilityRates.obj
/Indelly/x64/Debug/ParameterEquilibirumFrequencies.obj
/Indelly/x64/Debug/ParameterAlignment.obj
/Indelly/x64/Debug/Parameter.obj
/Indelly/x64/Debug/NodeSet.obj
/Indelly/x64/Debug/Node.obj
/Indelly/x64/Debug/Msg.obj
/Indelly/x64/Debug/Mcmc.obj
/Indelly/x64/Debug/main.obj
/Indelly/x64/Debug/IntVector.obj
/Indelly/x64/Debug/EigenSystem.obj
/Indelly/x64/Debug/AlignmentProposal.obj
/Indelly/x64/Debug/Alignment.obj
/Indelly/x64/Debug/vc142.pdb
/Indelly/x64/Debug/vc142.idb
/Indelly/x64/Debug/UserSettings.obj
/Indelly/x64/Debug/UpdateInfo.obj
/Indelly/x64/Debug/Tree.obj
/Indelly/x64/Debug/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/x64/Debug/TongueTwister.log
/Indelly/x64/Debug/TongueTwister.Build.CppClean.log
/Indelly/x64/Debug/TransitionProbabilities.obj
/Indelly/x64/Debug/TongueTwister.pdb
/Indelly/x64/Debug/TongueTwister.ilk
/Indelly/x64/Debug/TongueTwister.exe.recipe
/Indelly/x64/Debug/TongueTwister.exe
/Indelly/x64/Debug/Model.obj
/Indelly/x64/Debug/LikelihoodTkf.obj
/Indelly/x64/Release/vc142.pdb
/Indelly/x64/Release/UserSettings.obj
/Indelly/x64/Release/UpdateInfo.obj
/Indelly/x64/Release/Tree.obj
/Indelly/x64/Release/TransitionProbabilities.obj
/Indelly/x64/Release/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/x64/Release/TongueTwister.tlog/unsuccessfulbuild
/Indelly/x64/Release/TongueTwister.tlog/TongueTwister.lastbuildstate
/Indelly/x64/Release/TongueTwister.tlog/CL.write.1.tlog
/Indelly/x64/Release/TongueTwister.tlog/CL.read.1.tlog
/Indelly/x64/Release/TongueTwister.tlog/CL.command.1.tlog
/Indelly/x64/Release/TongueTwister.tlog
/Indelly/x64/Release/TongueTwister.log
/Indelly/x64/Release/TongueTwister.Build.CppClean.log
/Indelly/x64/Release/RateMatrixHelper.obj
/Indelly/x64/Release/RandomVariable.obj
/Indelly/x64/Release/ParameterTree.obj
/Indelly/x64/Release/ParameterRatesGammaShape.obj
/Indelly/x64/Release/ParameterIndelRates.obj
/Indelly/x64/Release/ParameterExchangabilityRates.obj
/Indelly/x64/Release/ParameterEquilibirumFrequencies.obj
/Indelly/x64/Release/ParameterAlignment.obj
/Indelly/x64/Release/Parameter.obj
/Indelly/x64/Release/NodeSet.obj
/Indelly/x64/Release/Node.obj
/Indelly/x64/Release/Msg.obj
/Indelly/x64/Release/Model.obj
/Indelly/x64/Release/Mcmc.obj
/Indelly/x64/Release/main.obj
/Indelly/x64/Release/IntVector.obj
/Indelly/x64/Release/EigenSystem.obj
/Indelly/x64/Release/AlignmentProposal.obj
/Indelly/x64/Release/Alignment.obj
/Indelly/x64/Debug/md5.obj
*.obj
/Indelly/x64/Release/TongueTwister.pdb
/Indelly/x64/Release/TongueTwister.ipdb
/Indelly/x64/Release/TongueTwister.iobj
/Indelly/x64/Release/TongueTwister.exe.recipe
/Indelly/x64/Release/TongueTwister.exe
/Indelly/Report20211202-1542.vsp
/Run/Run2/rwin
/Indelly/x64/Release/CodeAnalysisResultManifest.txt
/Indelly/x64/Release/TongueTwister.instr.pdb
/Indelly/Report20211229-2007.diagsession
/Run/Test/rwin/out.Woman-Primary.aln
/Run/Test/rwin/out.Wind-Primary.aln
/Run/Test/rwin/out.White-Primary.aln
/Run/Test/rwin/out.Water-Primary.aln
/Run/Test/rwin/out.Walk-Primary.aln
/Run/Test/rwin/out.tsv
/Run/Test/rwin/out.tre
/Run/Test/rwin/out.Speak-Primary.aln
/Run/Test/rwin/out.Sleep-Primary.aln
/Run/Test/rwin/out.Red-Primary.aln
/Run/Test/rwin/out.Rain-Primary.aln
/Run/Test/rwin/out.Man-Primary.aln
/Run/Test/rwin/out.House-Primary.aln
/Run/Test/rwin/out.Green-Primary.aln
/Run/Test/rwin/out.Grass-Primary.aln
/Run/Test/rwin/out.Forest-Primary.aln
/Run/Test/rwin/out.Fish-Primary.aln
/Run/Test/rwin/out.Earth-Primary.aln
/Run/Test/rwin/out.config
/Run/Test/rwin/out.Cloud-Primary.aln
/Run/Test/rwin/out.Child-Primary.aln
/Run/Test/rwin/out.Black-Primary.aln
/Run/Test/rwin/out.Bathe-Primary.aln
/Indelly/.vs/TongueTwister/v17/fileList.bin
/Indelly/.vs/TongueTwister/v17/Browse.VC.opendb
/Indelly/.vs/TongueTwister/v17/Browse.VC.db-wal
/Indelly/.vs/TongueTwister/v17/Browse.VC.db-shm
/Indelly/.vs/TongueTwister/v17/Browse.VC.db
/Indelly/.vs/TongueTwister/project-colors.json
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/516ea81847d1693c/MODEL.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/24f5619c48c090c6/LIKELIHOODTKF.ipch
/Indelly/.vs/TongueTwister/v17/.suo
/Indelly/x64/Release/vc143.pdb
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/ffeacc8167c6eec3/STATEMATRIXFACTORY.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/fea878ad3c93320c/RBBITSET.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/edfb15cfbb134802/PROBABILITY.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/ed8321bfc546f920/MAIN.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/d50a733c526543dc/MSG.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/bca0c65e78829e55/PARAMETERALIGNMENT.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/97d493432437657/PARAMETEREXCHANGABILITYRATES.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/96d74b2aa19a115a/PARAMETER.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/905a1d9044b1e157/PARTITION.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/809d3abcdc2dd70d/PARAMETERRATESGAMMASHAPE.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/7add333b77f975ec/EIGENSYSTEM.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/6a9cc3fe3ea55f64/ALIGNMENT.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/6885906819ba48de/RATEMATRIX.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/596533f9d783a0d/NODE.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/3a0c45214e9aa94c/SITELIKELIHOOD.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/2b2e6d1e505f5bc2/PARAMETERTREE.ipch
/Indelly/x64/Debug/vc143.pdb
/Indelly/x64/Debug/vc143.idb
/IndellyReader/.vs/IndellyReader/v17/ipch/AutoPCH/852fc6bb5395fae/MAIN.ipch
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.opendb
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.db-wal
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.db-shm
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.db
/IndellyReader/.vs/IndellyReader/v17/.suo
/IndellyReader/x64/Debug
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH
/IndellyReader/.vs/IndellyReader
/Run/Run3/rwin
