Output
/RevBayes/lib/gdk-pixbuf-2.0/2.10.0/loaders.cache
/RevBayes/RevStudio.exe
/Indelly/.vs/TongueTwister/v16
/Indelly/Debug/TongueTwister.tlog
/Indelly/Debug/vc142.pdb
/Indelly/Debug/vc142.idb
/Indelly/Debug/UserSettings.obj
/Indelly/Debug/UpdateInfo.obj
/Indelly/Debug/Tree.obj
/Indelly/Debug/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/Debug/TongueTwister.log
/Indelly/Debug/TongueTwister.exe.recipe
/Indelly/Debug/TongueTwister.Build.CppClean.log
/Indelly/Debug/RateMatrixHelper.obj
/Indelly/Debug/RandomVariable.obj
/Indelly/Debug/ParameterTree.obj
/Indelly/Debug/ParameterRatesGammaShape.obj
/Indelly/Debug/ParameterIndelRates.obj
/Indelly/Debug/ParameterAlignment.obj
/Indelly/Debug/Parameter.obj
/Indelly/Debug/NodeSet.obj
/Indelly/Debug/Node.obj
/Indelly/Debug/Msg.obj
/Indelly/Debug/Mcmc.obj
/Indelly/Debug/main.obj
/Indelly/Debug/IntVector.obj
/Indelly/Debug/Alignment.obj
/Indelly/TongueTwister.vcxproj.user
/Indelly/TongueTwister.vcxproj.filters
/Indelly/TongueTwister.vcxproj
/Indelly/x64/Debug/TongueTwister.tlog
/Indelly/x64/Debug/RateMatrixHelper.obj
/Indelly/x64/Debug/RandomVariable.obj
/Indelly/x64/Debug/ParameterTree.obj
/Indelly/x64/Debug/ParameterRatesGammaShape.obj
/Indelly/x64/Debug/ParameterIndelRates.obj
/Indelly/x64/Debug/ParameterExchangabilityRates.obj
/Indelly/x64/Debug/ParameterEquilibirumFrequencies.obj
/Indelly/x64/Debug/ParameterAlignment.obj
/Indelly/x64/Debug/Parameter.obj
/Indelly/x64/Debug/NodeSet.obj
/Indelly/x64/Debug/Node.obj
/Indelly/x64/Debug/Msg.obj
/Indelly/x64/Debug/Mcmc.obj
/Indelly/x64/Debug/main.obj
/Indelly/x64/Debug/IntVector.obj
/Indelly/x64/Debug/EigenSystem.obj
/Indelly/x64/Debug/AlignmentProposal.obj
/Indelly/x64/Debug/Alignment.obj
/Indelly/x64/Debug/vc142.pdb
/Indelly/x64/Debug/vc142.idb
/Indelly/x64/Debug/UserSettings.obj
/Indelly/x64/Debug/UpdateInfo.obj
/Indelly/x64/Debug/Tree.obj
/Indelly/x64/Debug/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/x64/Debug/TongueTwister.log
/Indelly/x64/Debug/TongueTwister.Build.CppClean.log
/Indelly/x64/Debug/TransitionProbabilities.obj
/Indelly/x64/Debug/TongueTwister.pdb
/Indelly/x64/Debug/TongueTwister.ilk
/Indelly/x64/Debug/TongueTwister.exe.recipe
/Indelly/x64/Debug/TongueTwister.exe
/Indelly/x64/Debug/Model.obj
/Indelly/x64/Debug/LikelihoodTkf.obj
/Indelly/x64/Release/vc142.pdb
/Indelly/x64/Release/UserSettings.obj
/Indelly/x64/Release/UpdateInfo.obj
/Indelly/x64/Release/Tree.obj
/Indelly/x64/Release/TransitionProbabilities.obj
/Indelly/x64/Release/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/x64/Release/TongueTwister.tlog/unsuccessfulbuild
/Indelly/x64/Release/TongueTwister.tlog/TongueTwister.lastbuildstate
/Indelly/x64/Release/TongueTwister.tlog/CL.write.1.tlog
/Indelly/x64/Release/TongueTwister.tlog/CL.read.1.tlog
/Indelly/x64/Release/TongueTwister.tlog/CL.command.1.tlog
/Indelly/x64/Release/TongueTwister.tlog
/Indelly/x64/Release/TongueTwister.log
/Indelly/x64/Release/TongueTwister.Build.CppClean.log
/Indelly/x64/Release/RateMatrixHelper.obj
/Indelly/x64/Release/RandomVariable.obj
/Indelly/x64/Release/ParameterTree.obj
/Indelly/x64/Release/ParameterRatesGammaShape.obj
/Indelly/x64/Release/ParameterIndelRates.obj
/Indelly/x64/Release/ParameterExchangabilityRates.obj
/Indelly/x64/Release/ParameterEquilibirumFrequencies.obj
/Indelly/x64/Release/ParameterAlignment.obj
/Indelly/x64/Release/Parameter.obj
/Indelly/x64/Release/NodeSet.obj
/Indelly/x64/Release/Node.obj
/Indelly/x64/Release/Msg.obj
/Indelly/x64/Release/Model.obj
/Indelly/x64/Release/Mcmc.obj
/Indelly/x64/Release/main.obj
/Indelly/x64/Release/IntVector.obj
/Indelly/x64/Release/EigenSystem.obj
/Indelly/x64/Release/AlignmentProposal.obj
/Indelly/x64/Release/Alignment.obj
/Indelly/x64/Debug/md5.obj
*.obj
/Indelly/x64/Release/TongueTwister.pdb
/Indelly/x64/Release/TongueTwister.ipdb
/Indelly/x64/Release/TongueTwister.iobj
/Indelly/x64/Release/TongueTwister.exe.recipe
/Indelly/x64/Release/TongueTwister.exe
/Indelly/Report20211202-1542.vsp
/Run/Run2/rwin
/Indelly/x64/Release/CodeAnalysisResultManifest.txt
/Indelly/x64/Release/TongueTwister.instr.pdb
/Indelly/Report20211229-2007.diagsession
