Output
/RevBayes/lib/gdk-pixbuf-2.0/2.10.0/loaders.cache
/RevBayes/RevStudio.exe
/Indelly/.vs/TongueTwister/v16
/Indelly/Debug/TongueTwister.tlog
/Indelly/Debug/vc142.pdb
/Indelly/Debug/vc142.idb
/Indelly/Debug/UserSettings.obj
/Indelly/Debug/UpdateInfo.obj
/Indelly/Debug/Tree.obj
/Indelly/Debug/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/Debug/TongueTwister.log
/Indelly/Debug/TongueTwister.exe.recipe
/Indelly/Debug/TongueTwister.Build.CppClean.log
/Indelly/Debug/RateMatrixHelper.obj
/Indelly/Debug/RandomVariable.obj
/Indelly/Debug/ParameterTree.obj
/Indelly/Debug/ParameterRatesGammaShape.obj
/Indelly/Debug/ParameterIndelRates.obj
/Indelly/Debug/ParameterAlignment.obj
/Indelly/Debug/Parameter.obj
/Indelly/Debug/NodeSet.obj
/Indelly/Debug/Node.obj
/Indelly/Debug/Msg.obj
/Indelly/Debug/Mcmc.obj
/Indelly/Debug/main.obj
/Indelly/Debug/IntVector.obj
/Indelly/Debug/Alignment.obj
/Indelly/TongueTwister.vcxproj.user
/Indelly/TongueTwister.vcxproj.filters
/Indelly/TongueTwister.vcxproj
/Indelly/x64/Debug/TongueTwister.tlog
/Indelly/x64/Debug/RateMatrixHelper.obj
/Indelly/x64/Debug/RandomVariable.obj
/Indelly/x64/Debug/ParameterTree.obj
/Indelly/x64/Debug/ParameterRatesGammaShape.obj
/Indelly/x64/Debug/ParameterIndelRates.obj
/Indelly/x64/Debug/ParameterExchangabilityRates.obj
/Indelly/x64/Debug/ParameterEquilibirumFrequencies.obj
/Indelly/x64/Debug/ParameterAlignment.obj
/Indelly/x64/Debug/Parameter.obj
/Indelly/x64/Debug/NodeSet.obj
/Indelly/x64/Debug/Node.obj
/Indelly/x64/Debug/Msg.obj
/Indelly/x64/Debug/Mcmc.obj
/Indelly/x64/Debug/main.obj
/Indelly/x64/Debug/IntVector.obj
/Indelly/x64/Debug/EigenSystem.obj
/Indelly/x64/Debug/AlignmentProposal.obj
/Indelly/x64/Debug/Alignment.obj
/Indelly/x64/Debug/vc142.pdb
/Indelly/x64/Debug/vc142.idb
/Indelly/x64/Debug/UserSettings.obj
/Indelly/x64/Debug/UpdateInfo.obj
/Indelly/x64/Debug/Tree.obj
/Indelly/x64/Debug/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/x64/Debug/TongueTwister.log
/Indelly/x64/Debug/TongueTwister.Build.CppClean.log
/Indelly/x64/Debug/TransitionProbabilities.obj
/Indelly/x64/Debug/TongueTwister.pdb
/Indelly/x64/Debug/TongueTwister.ilk
/Indelly/x64/Debug/TongueTwister.exe.recipe
/Indelly/x64/Debug/TongueTwister.exe
/Indelly/x64/Debug/Model.obj
/Indelly/x64/Debug/LikelihoodTkf.obj
/Indelly/x64/Release/vc142.pdb
/Indelly/x64/Release/UserSettings.obj
/Indelly/x64/Release/UpdateInfo.obj
/Indelly/x64/Release/Tree.obj
/Indelly/x64/Release/TransitionProbabilities.obj
/Indelly/x64/Release/TongueTwister.vcxproj.FileListAbsolute.txt
/Indelly/x64/Release/TongueTwister.tlog/unsuccessfulbuild
/Indelly/x64/Release/TongueTwister.tlog/TongueTwister.lastbuildstate
/Indelly/x64/Release/TongueTwister.tlog/CL.write.1.tlog
/Indelly/x64/Release/TongueTwister.tlog/CL.read.1.tlog
/Indelly/x64/Release/TongueTwister.tlog/CL.command.1.tlog
/Indelly/x64/Release/TongueTwister.tlog
/Indelly/x64/Release/TongueTwister.log
/Indelly/x64/Release/TongueTwister.Build.CppClean.log
/Indelly/x64/Release/RateMatrixHelper.obj
/Indelly/x64/Release/RandomVariable.obj
/Indelly/x64/Release/ParameterTree.obj
/Indelly/x64/Release/ParameterRatesGammaShape.obj
/Indelly/x64/Release/ParameterIndelRates.obj
/Indelly/x64/Release/ParameterExchangabilityRates.obj
/Indelly/x64/Release/ParameterEquilibirumFrequencies.obj
/Indelly/x64/Release/ParameterAlignment.obj
/Indelly/x64/Release/Parameter.obj
/Indelly/x64/Release/NodeSet.obj
/Indelly/x64/Release/Node.obj
/Indelly/x64/Release/Msg.obj
/Indelly/x64/Release/Model.obj
/Indelly/x64/Release/Mcmc.obj
/Indelly/x64/Release/main.obj
/Indelly/x64/Release/IntVector.obj
/Indelly/x64/Release/EigenSystem.obj
/Indelly/x64/Release/AlignmentProposal.obj
/Indelly/x64/Release/Alignment.obj
/Indelly/x64/Debug/md5.obj
*.obj
/Indelly/x64/Release/TongueTwister.pdb
/Indelly/x64/Release/TongueTwister.ipdb
/Indelly/x64/Release/TongueTwister.iobj
/Indelly/x64/Release/TongueTwister.exe.recipe
/Indelly/x64/Release/TongueTwister.exe
/Indelly/Report20211202-1542.vsp
/Run/Run2/rwin
/Indelly/x64/Release/CodeAnalysisResultManifest.txt
/Indelly/x64/Release/TongueTwister.instr.pdb
/Indelly/Report20211229-2007.diagsession
/Run/Test/rwin/out.Woman-Primary.aln
/Run/Test/rwin/out.Wind-Primary.aln
/Run/Test/rwin/out.White-Primary.aln
/Run/Test/rwin/out.Water-Primary.aln
/Run/Test/rwin/out.Walk-Primary.aln
/Run/Test/rwin/out.tsv
/Run/Test/rwin/out.tre
/Run/Test/rwin/out.Speak-Primary.aln
/Run/Test/rwin/out.Sleep-Primary.aln
/Run/Test/rwin/out.Red-Primary.aln
/Run/Test/rwin/out.Rain-Primary.aln
/Run/Test/rwin/out.Man-Primary.aln
/Run/Test/rwin/out.House-Primary.aln
/Run/Test/rwin/out.Green-Primary.aln
/Run/Test/rwin/out.Grass-Primary.aln
/Run/Test/rwin/out.Forest-Primary.aln
/Run/Test/rwin/out.Fish-Primary.aln
/Run/Test/rwin/out.Earth-Primary.aln
/Run/Test/rwin/out.config
/Run/Test/rwin/out.Cloud-Primary.aln
/Run/Test/rwin/out.Child-Primary.aln
/Run/Test/rwin/out.Black-Primary.aln
/Run/Test/rwin/out.Bathe-Primary.aln
/Indelly/.vs/TongueTwister/v17/fileList.bin
/Indelly/.vs/TongueTwister/v17/Browse.VC.opendb
/Indelly/.vs/TongueTwister/v17/Browse.VC.db-wal
/Indelly/.vs/TongueTwister/v17/Browse.VC.db-shm
/Indelly/.vs/TongueTwister/v17/Browse.VC.db
/Indelly/.vs/TongueTwister/project-colors.json
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/516ea81847d1693c/MODEL.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/24f5619c48c090c6/LIKELIHOODTKF.ipch
/Indelly/.vs/TongueTwister/v17/.suo
/Indelly/x64/Release/vc143.pdb
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/ffeacc8167c6eec3/STATEMATRIXFACTORY.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/fea878ad3c93320c/RBBITSET.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/edfb15cfbb134802/PROBABILITY.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/ed8321bfc546f920/MAIN.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/d50a733c526543dc/MSG.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/bca0c65e78829e55/PARAMETERALIGNMENT.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/97d493432437657/PARAMETEREXCHANGABILITYRATES.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/96d74b2aa19a115a/PARAMETER.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/905a1d9044b1e157/PARTITION.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/809d3abcdc2dd70d/PARAMETERRATESGAMMASHAPE.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/7add333b77f975ec/EIGENSYSTEM.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/6a9cc3fe3ea55f64/ALIGNMENT.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/6885906819ba48de/RATEMATRIX.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/596533f9d783a0d/NODE.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/3a0c45214e9aa94c/SITELIKELIHOOD.ipch
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH/2b2e6d1e505f5bc2/PARAMETERTREE.ipch
/Indelly/x64/Debug/vc143.pdb
/Indelly/x64/Debug/vc143.idb
/IndellyReader/.vs/IndellyReader/v17/ipch/AutoPCH/852fc6bb5395fae/MAIN.ipch
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.opendb
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.db-wal
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.db-shm
/IndellyReader/.vs/IndellyReader/v17/Browse.VC.db
/IndellyReader/.vs/IndellyReader/v17/.suo
/IndellyReader/x64/Debug
/Indelly/.vs/TongueTwister/v17/ipch/AutoPCH
/IndellyReader/.vs/IndellyReader
/Run/Run3/rwin
/Indelly/x64/Debug/threads.obj.enc
/Run/Test/rwin
/Indelly/.vs/TongueTwister/v17/TestStore/0
/Indelly/x64/Release
/Indelly/Memory.diagsession
/Indelly/CPU.diagsession
/Indelly/CPU Later.diagsession
Indelly/twister.dSYM/Contents/Resources/DWARF/twister
Indelly/twister
*.plist
/Run/Run4/rwin
/IndellyReader/x64/Release/IndellyReader.tlog
/IndellyReader/x64/Release/vc143.pdb
/IndellyReader/x64/Release/IndellyReader.vcxproj.FileListAbsolute.txt
/IndellyReader/x64/Release/IndellyReader.pdb
/IndellyReader/x64/Release/IndellyReader.log
/IndellyReader/x64/Release/IndellyReader.ipdb
/IndellyReader/x64/Release/IndellyReader.iobj
/IndellyReader/x64/Release/IndellyReader.exe.recipe
/IndellyReader/x64/Release/IndellyReader.exe
/IndellyReader/x64/Release/IndellyReader.Build.CppClean.log
/Run/Run5/rwin/out.YouSingular-VostramMercedem.aln
/Run/Run5/rwin/out.YouSingular-Primary.aln
/Run/Run5/rwin/out.YouPlural-Primary.aln
/Run/Run5/rwin/out.Yellow-Primary.aln
/Run/Run5/rwin/out.Yellow-Amarellus.aln
/Run/Run5/rwin/out.Year-Primary.aln
/Run/Run5/rwin/out.Worm-Primary.aln
/Run/Run5/rwin/out.Woman-Primary.aln
/Run/Run5/rwin/out.Woman-Mulier.aln
/Run/Run5/rwin/out.Woman-Domina.aln
/Run/Run5/rwin/out.With-Cum.aln
/Run/Run5/rwin/out.With-Abhoc.aln
/Run/Run5/rwin/out.Wing-Primary.aln
/Run/Run5/rwin/out.Wind-Primary.aln
/Run/Run5/rwin/out.Wife-Primary.aln
/Run/Run5/rwin/out.Wide-Primary.aln
/Run/Run5/rwin/out.Wide-Amplum.aln
/Run/Run5/rwin/out.Who-Qui.aln
/Run/Run5/rwin/out.Who-Quem.aln
/Run/Run5/rwin/out.White-Primary.aln
/Run/Run5/rwin/out.When-Quando.aln
/Run/Run5/rwin/out.What-Primary.aln
/Run/Run5/rwin/out.Wet-Primary.aln
/Run/Run5/rwin/out.We-Primary.aln
/Run/Run5/rwin/out.Water-Primary.aln
/Run/Run5/rwin/out.Warm-Primary.aln
/Run/Run5/rwin/out.Two-Duos.aln
/Run/Run5/rwin/out.Two-Duas.aln
/Run/Run5/rwin/out.Two-Duae.aln
/Run/Run5/rwin/out.tsv
/Run/Run5/rwin/out.Tree-Primary.aln
/Run/Run5/rwin/out.tre
/Run/Run5/rwin/out.ToWipe-Limpidare.aln
/Run/Run5/rwin/out.ToWipe-Extergere.aln
/Run/Run5/rwin/out.ToWipe-Exsucare.aln
/Run/Run5/rwin/out.ToWash-Primary.aln
/Run/Run5/rwin/out.ToWalk-Primary.aln
/Run/Run5/rwin/out.ToWalk-Mergere.aln
/Run/Run5/rwin/out.ToWalk-Ambitare.aln
/Run/Run5/rwin/out.ToTurnIntransitive-Torquere.aln
/Run/Run5/rwin/out.ToTurnIntransitive-Primary.aln
/Run/Run5/rwin/out.ToTurnIntransitive-Gyrare.aln
/Run/Run5/rwin/out.ToTie-Primary.aln
/Run/Run5/rwin/out.ToTie-Aptare.aln
/Run/Run5/rwin/out.ToThrow-Primary.aln
/Run/Run5/rwin/out.ToThrow-Lanceare.aln
/Run/Run5/rwin/out.ToThink-Primary.aln
/Run/Run5/rwin/out.ToThink-Pensare.aln
/Run/Run5/rwin/out.ToSwim-Primary.aln
/Run/Run5/rwin/out.ToSwim-Navigare.aln
/Run/Run5/rwin/out.ToSwell-Primary.aln
/Run/Run5/rwin/out.ToSwell-Intumescere.aln
/Run/Run5/rwin/out.ToSwell-Crescere.aln
/Run/Run5/rwin/out.ToSwell-Conflare.aln
/Run/Run5/rwin/out.ToSuck-Primary.aln
/Run/Run5/rwin/out.ToStand-Primary.aln
/Run/Run5/rwin/out.ToStand-Levare.aln
/Run/Run5/rwin/out.ToStand-Altiare.aln
/Run/Run5/rwin/out.ToStab-Primary.aln
/Run/Run5/rwin/out.ToSqueeze-Stringere.aln
/Run/Run5/rwin/out.ToSqueeze-Serrere.aln
/Run/Run5/rwin/out.ToSqueeze-Serare.aln
/Run/Run5/rwin/out.ToSqueeze-Primary.aln
/Run/Run5/rwin/out.ToSqueeze-Appectorare.aln
/Run/Run5/rwin/out.ToSplit-Separare.aln
/Run/Run5/rwin/out.ToSplit-Primary.aln
/Run/Run5/rwin/out.ToSplit-Partire.aln
/Run/Run5/rwin/out.ToSplit-Findere.aln
/Run/Run5/rwin/out.ToSpit-Sputare.aln
/Run/Run5/rwin/out.ToSpit-Primary.aln
/Run/Run5/rwin/out.ToSpit-Exconspuere.aln
/Run/Run5/rwin/out.ToSmell-Sentire.aln
/Run/Run5/rwin/out.ToSmell-Olere.aln
/Run/Run5/rwin/out.ToSmell-Fragrare.aln
/Run/Run5/rwin/out.ToSleep-Primary.aln
/Run/Run5/rwin/out.ToSit-Sedentare.aln
/Run/Run5/rwin/out.ToSit-Primary.aln
/Run/Run5/rwin/out.ToSing-Primary.aln
/Run/Run5/rwin/out.ToSew-Primary.aln
/Run/Run5/rwin/out.ToSee-Primary.aln
/Run/Run5/rwin/out.ToScratch-Rasicare.aln
/Run/Run5/rwin/out.ToScratch-Rasare.aln
/Run/Run5/rwin/out.ToScratch-Primary.aln
/Run/Run5/rwin/out.ToSay-Primary.aln
/Run/Run5/rwin/out.ToSay-Exponere.aln
/Run/Run5/rwin/out.ToRub-Primary.aln
/Run/Run5/rwin/out.ToRub-Frictare.aln
/Run/Run5/rwin/out.ToPush-Primary.aln
/Run/Run5/rwin/out.ToPull-Trahere.aln
/Run/Run5/rwin/out.ToPull-Primary.aln
/Run/Run5/rwin/out.ToPlay-Jiocare.aln
/Run/Run5/rwin/out.Tooth-Primary.aln
/Run/Run5/rwin/out.Tongue-Primary.aln
/Run/Run5/rwin/out.ToLive-Primary.aln
/Run/Run5/rwin/out.ToLieAsInABed-Primary.aln
/Run/Run5/rwin/out.ToLieAsInABed-Iacere.aln
/Run/Run5/rwin/out.ToLaugh-Primary.aln
/Run/Run5/rwin/out.ToKnow-Sapere.aln
/Run/Run5/rwin/out.ToKnow-Cognoscere.aln
/Run/Run5/rwin/out.ToKill-Tutari.aln
/Run/Run5/rwin/out.ToKill-Primary.aln
/Run/Run5/rwin/out.ToKill-Occidere.aln
/Run/Run5/rwin/out.ToKill-Mactare.aln
/Run/Run5/rwin/out.ToKill-Adnecare.aln
/Run/Run5/rwin/out.ToHunt-Captiare.aln
/Run/Run5/rwin/out.ToHold-Primary.aln
/Run/Run5/rwin/out.ToHit-Primary.aln
/Run/Run5/rwin/out.ToHear-Primary.aln
/Run/Run5/rwin/out.ToGive-Primary.aln
/Run/Run5/rwin/out.ToGive-Donare.aln
/Run/Run5/rwin/out.ToFreeze-Primary.aln
/Run/Run5/rwin/out.ToFreeze-Glaciare.aln
/Run/Run5/rwin/out.ToFly-Primary.aln
/Run/Run5/rwin/out.ToFly-Exvolare.aln
/Run/Run5/rwin/out.ToFlow-Primary.aln
/Run/Run5/rwin/out.ToFlow-Excurrere.aln
/Run/Run5/rwin/out.ToFlow-Currere.aln
/Run/Run5/rwin/out.ToFlow-Colare.aln
/Run/Run5/rwin/out.ToFloat-Primary.aln
/Run/Run5/rwin/out.ToFight-Primary.aln
/Run/Run5/rwin/out.ToFight-Battuere.aln
/Run/Run5/rwin/out.ToFear-Tremere.aln
/Run/Run5/rwin/out.ToFear-Primary.aln
/Run/Run5/rwin/out.ToFall-Tumbare.aln
/Run/Run5/rwin/out.ToFall-Primary.aln
/Run/Run5/rwin/out.ToEat-Primary.aln
/Run/Run5/rwin/out.ToEat-Manducare.aln
/Run/Run5/rwin/out.ToDrink-Primary.aln
/Run/Run5/rwin/out.ToDig-Excavare.aln
/Run/Run5/rwin/out.ToDig-Cavare.aln
/Run/Run5/rwin/out.ToDie-Primary.aln
/Run/Run5/rwin/out.ToCut-Taliare.aln
/Run/Run5/rwin/out.ToCut-Primary.aln
/Run/Run5/rwin/out.ToCut-Excurtare.aln
/Run/Run5/rwin/out.ToCut-Curtare.aln
/Run/Run5/rwin/out.ToCount-Primary.aln
/Run/Run5/rwin/out.ToCount-Numerare.aln
/Run/Run5/rwin/out.ToCome-Primary.aln
/Run/Run5/rwin/out.ToBurn-Incendere.aln
/Run/Run5/rwin/out.ToBurn-Flammare.aln
/Run/Run5/rwin/out.ToBurn-Cremare.aln
/Run/Run5/rwin/out.ToBurn-Ardere.aln
/Run/Run5/rwin/out.ToBreathe-Primary.aln
/Run/Run5/rwin/out.ToBlow-Primary.aln
/Run/Run5/rwin/out.ToBite-Primary.aln
/Run/Run5/rwin/out.ToBite-Morsicare.aln
/Run/Run5/rwin/out.Three-Primary.aln
/Run/Run5/rwin/out.Thin-Subtilis.aln
/Run/Run5/rwin/out.Thin-Primary.aln
/Run/Run5/rwin/out.Thin-Delicatus.aln
/Run/Run5/rwin/out.Thick-Spissum.aln
/Run/Run5/rwin/out.Thick-Primary.aln
/Run/Run5/rwin/out.Thick-Grossus.aln
/Run/Run5/rwin/out.There-Primary.aln
/Run/Run5/rwin/out.There-AdIbi.aln
/Run/Run5/rwin/out.Tail-Primary.aln
/Run/Run5/rwin/out.Sun-Soliculus.aln
/Run/Run5/rwin/out.Sun-Primary.aln
/Run/Run5/rwin/out.Straight-Primary.aln
/Run/Run5/rwin/out.Stone-Primary.aln
/Run/Run5/rwin/out.Stone-Petra.aln
/Run/Run5/rwin/out.Stick-Primary.aln
/Run/Run5/rwin/out.Star-Primary.aln
/Run/Run5/rwin/out.Some-Primary.aln
/Run/Run5/rwin/out.Snow-Primary.aln
/Run/Run5/rwin/out.Snake-Primary.aln
/Run/Run5/rwin/out.Smooth-Primary.aln
/Run/Run5/rwin/out.Smooth-Nitidus.aln
/Run/Run5/rwin/out.Smoke-Primary.aln
/Run/Run5/rwin/out.Small-Primary.aln
/Run/Run5/rwin/out.Sky-Primary.aln
/Run/Run5/rwin/out.Skin-Primary.aln
/Run/Run5/rwin/out.Skin-Pellis.aln
/Run/Run5/rwin/out.Short-Primary.aln
/Run/Run5/rwin/out.Short-Brevis.aln
/Run/Run5/rwin/out.SharpAsAKnife-Primary.aln
/Run/Run5/rwin/out.Seed-Sementis.aln
/Run/Run5/rwin/out.Seed-Granum.aln
/Run/Run5/rwin/out.Sea-Primary.aln
/Run/Run5/rwin/out.Sand-Sabulum.aln
/Run/Run5/rwin/out.Sand-Sabulo.aln
/Run/Run5/rwin/out.Sand-Primary.aln
/Run/Run5/rwin/out.Salt-Primary.aln
/Run/Run5/rwin/out.Round-Primary.aln
/Run/Run5/rwin/out.Rotten-Putrem.aln
/Run/Run5/rwin/out.Rotten-Primary.aln
/Run/Run5/rwin/out.Rope-Restis.aln
/Run/Run5/rwin/out.Rope-Primary.aln
/Run/Run5/rwin/out.Root-Radicina.aln
/Run/Run5/rwin/out.Root-Primary.aln
/Run/Run5/rwin/out.Road-Strata.aln
/Run/Run5/rwin/out.Road-Primary.aln
/Run/Run5/rwin/out.Road-Camminus.aln
/Run/Run5/rwin/out.River-Rivus.aln
/Run/Run5/rwin/out.River-Riparia.aln
/Run/Run5/rwin/out.River-Primary.aln
/Run/Run5/rwin/out.Right-Dextrem.aln
/Run/Run5/rwin/out.Red-Vermiculus.aln
/Run/Run5/rwin/out.Red-Rubeus.aln
/Run/Run5/rwin/out.Red-Primary.aln
/Run/Run5/rwin/out.Rain-Primary.aln
/Run/Run5/rwin/out.Other-Primary.aln
/Run/Run5/rwin/out.Other-Alius.aln
/Run/Run5/rwin/out.One-Primary.aln
/Run/Run5/rwin/out.Old-Primary.aln
/Run/Run5/rwin/out.Not-Primary.aln
/Run/Run5/rwin/out.Not-Nec.aln
/Run/Run5/rwin/out.Nose-Primary.aln
/Run/Run5/rwin/out.Nose-Nares.aln
/Run/Run5/rwin/out.Night-Primary.aln
/Run/Run5/rwin/out.New-Primary.aln
/Run/Run5/rwin/out.Neck-Primary.aln
/Run/Run5/rwin/out.Near-Vicinus.aln
/Run/Run5/rwin/out.Near-Primary.aln
/Run/Run5/rwin/out.Near-Pressus.aln
/Run/Run5/rwin/out.Near-AdPrope.aln
/Run/Run5/rwin/out.Narrow-Strictus.aln
/Run/Run5/rwin/out.Narrow-Primary.aln
/Run/Run5/rwin/out.Name-Nomen.aln
/Run/Run5/rwin/out.Mouth-Primary.aln
/Run/Run5/rwin/out.Mouth-Gula.aln
/Run/Run5/rwin/out.Mountain-Primary.aln
/Run/Run5/rwin/out.Mountain-Montanea.aln
/Run/Run5/rwin/out.Mother-Primary.aln
/Run/Run5/rwin/out.Moon-Primary.aln
/Run/Run5/rwin/out.Meat-Primary.aln
/Run/Run5/rwin/out.Many-Tantus.aln
/Run/Run5/rwin/out.Many-Primary.aln
/Run/Run5/rwin/out.Louse-Primary.aln
/Run/Run5/rwin/out.Long-Longum.aln
/Run/Run5/rwin/out.Long-Largum.aln
/Run/Run5/rwin/out.Liver-Primary.aln
/Run/Run5/rwin/out.Leg-Petiolus.aln
/Run/Run5/rwin/out.Leg-Perna.aln
/Run/Run5/rwin/out.Leg-Gamba.aln
/Run/Run5/rwin/out.Left-Primary.aln
/Run/Run5/rwin/out.Leaf-Primary.aln
/Run/Run5/rwin/out.Leaf-Frondea.aln
/Run/Run5/rwin/out.Lake-Primary.aln
/Run/Run5/rwin/out.Knee-Genuculum.aln
/Run/Run5/rwin/out.In-In.aln
/Run/Run5/rwin/out.In-Deintus.aln
/Run/Run5/rwin/out.Ice-Primary.aln
/Run/Run5/rwin/out.Ice-Glacies.aln
/Run/Run5/rwin/out.I-Primary.aln
/Run/Run5/rwin/out.Husband-Sponsus.aln
/Run/Run5/rwin/out.Husband-Primary.aln
/Run/Run5/rwin/out.How-Quomodo.aln
/Run/Run5/rwin/out.Horn-Primary.aln
/Run/Run5/rwin/out.Here-Primary.aln
/Run/Run5/rwin/out.Heavy-Primary.aln
/Run/Run5/rwin/out.Heavy-Lurdus.aln
/Run/Run5/rwin/out.Heart-Primary.aln
/Run/Run5/rwin/out.Heart-Anima.aln
/Run/Run5/rwin/out.Head-Testa.aln
/Run/Run5/rwin/out.Head-Primary.aln
/Run/Run5/rwin/out.Hand-Primary.aln
/Run/Run5/rwin/out.Hair-Primary.aln
/Run/Run5/rwin/out.Hair-Capillus.aln
/Run/Run5/rwin/out.Guts-Primary.aln
/Run/Run5/rwin/out.Green-Primary.aln
/Run/Run5/rwin/out.Grass-Primary.aln
/Run/Run5/rwin/out.Grass-Gramen.aln
/Run/Run5/rwin/out.Good-Primary.aln
/Run/Run5/rwin/out.Full-Primary.aln
/Run/Run5/rwin/out.Fruit-Primary.aln
/Run/Run5/rwin/out.Four-Primary.aln
/Run/Run5/rwin/out.Forest-Primary.aln
/Run/Run5/rwin/out.Foot-Primary.aln
/Run/Run5/rwin/out.Fog-Tenebras.aln
/Run/Run5/rwin/out.Fog-Primary.aln
/Run/Run5/rwin/out.Fog-Nebula.aln
/Run/Run5/rwin/out.Fog-Fumata.aln
/Run/Run5/rwin/out.Flower-Primary.aln
/Run/Run5/rwin/out.Five-Primary.aln
/Run/Run5/rwin/out.Fish-Piskem.aln
/Run/Run5/rwin/out.Fire-Focus.aln
/Run/Run5/rwin/out.Fingernail-Primary.aln
/Run/Run5/rwin/out.Few-Primary.aln
/Run/Run5/rwin/out.Feather-Primary.aln
/Run/Run5/rwin/out.Feather-Penna.aln
/Run/Run5/rwin/out.FatNoun-Crassia.aln
/Run/Run5/rwin/out.Father-Tata.aln
/Run/Run5/rwin/out.Father-Primary.aln
/Run/Run5/rwin/out.Far-Primary.aln
/Run/Run5/rwin/out.Eye-Primary.aln
/Run/Run5/rwin/out.Egg-Primary.aln
/Run/Run5/rwin/out.Earth-Primary.aln
/Run/Run5/rwin/out.Ear-Primary.aln
/Run/Run5/rwin/out.Dust-Pulwus.aln
/Run/Run5/rwin/out.Dust-Primary.aln
/Run/Run5/rwin/out.Dry-Primary.aln
/Run/Run5/rwin/out.Dog-Primary.aln
/Run/Run5/rwin/out.Dirty-Spurcus.aln
/Run/Run5/rwin/out.Dirty-Primary.aln
/Run/Run5/rwin/out.Day-Primary.aln
/Run/Run5/rwin/out.Day-Diurnus.aln
/Run/Run5/rwin/out.Day-Diurnata.aln
/Run/Run5/rwin/out.Cold-Recens.aln
/Run/Run5/rwin/out.Cold-Primary.aln
/Run/Run5/rwin/out.Cloud-Primary.aln
/Run/Run5/rwin/out.Cloud-Nubilus.aln
/Run/Run5/rwin/out.Child-Primary.aln
/Run/Run5/rwin/out.Child-Ninnus.aln
/Run/Run5/rwin/out.Breast-Primary.aln
/Run/Run5/rwin/out.Breast-Pectus.aln
/Run/Run5/rwin/out.Bone-Primary.aln
/Run/Run5/rwin/out.Blood-Primary.aln
/Run/Run5/rwin/out.Bird-Passerem.aln
/Run/Run5/rwin/out.Bird-Avem.aln
/Run/Run5/rwin/out.Bird-Aucellum.aln
/Run/Run5/rwin/out.Big-Grandem.aln
/Run/Run5/rwin/out.Belly-Primary.aln
/Run/Run5/rwin/out.Belly-Pantex.aln
/Run/Run5/rwin/out.Because-Quod.aln
/Run/Run5/rwin/out.BarkOfATree-Skortea.aln
/Run/Run5/rwin/out.BarkOfATree-Primary.aln
/Run/Run5/rwin/out.BarkOfATree-Corticea.aln
/Run/Run5/rwin/out.Bad-Primary.aln
/Run/Run5/rwin/out.Back-Spatula.aln
/Run/Run5/rwin/out.Back-Primary.aln
/Run/Run5/rwin/out.At-Primary.aln
/Run/Run5/rwin/out.Ash-Primary.aln
/Run/Run5/rwin/out.Ash-Cinisia.aln
/Run/Run5/rwin/out.Animal-Primary.aln
/Run/Run5/rwin/out.Animal-Bestia.aln
/Run/Run5/rwin/out.And-Si.aln
/Run/Run5/rwin/out.And-Et.aln
/Run/Run5/rwin/out.All-Totus.aln
*.aln
/Run/Run6/rwin/outsettings.config
/Run/Run6/rwin/out.tsv
/Run/Run6/rwin/out.tre
Experiments/Europe/Custom/Marginal/Run2/Execute/.DS_Store
Experiments/Europe/Custom/Marginal/Run2/Execute/consensus.tre
Experiments/Europe/Custom/Marginal/Run2/Execute/out.tre
Experiments/Europe/Custom/Marginal/Run2/Execute/out.tsv
Experiments/Europe/Custom/Marginal/Run2/Execute/outsettings.config
Experiments/Europe/Custom/Posterior/Run1/Execute/consensus.tre
Experiments/Europe/Custom/Posterior/Run1/Execute/out.tre
Experiments/Europe/GTR/Posterior/Run1/Execute/out.tre
Experiments/Europe/GTR/Posterior/Run1/Execute/out.tsv
Experiments/Europe/GTR/Posterior/Run1/Execute/outsettings.config
Experiments/Europe/GTR/Posterior/Run2/Execute/out.tre
Experiments/Europe/GTR/Posterior/Run2/Execute/out.tsv
Experiments/Europe/GTR/Posterior/Run2/Execute/outsettings.config
Experiments/Europe/JC69/Posterior/Run1/Execute/out.tre
Experiments/Europe/JC69/Posterior/Run1/Execute/out.tsv
Experiments/Europe/JC69/Posterior/Run1/Execute/outsettings.config
Experiments/Europe/Custom/Posterior/Run1/Execute/out.tre
Experiments/Europe/Custom/Posterior/Run1/Execute/out.tsv
Experiments/Europe/Custom/Posterior/Run1/Execute/outsettings.config
Experiments/Europe/Custom/Posterior/Run2/Execute/out.tre
Experiments/Europe/Custom/Posterior/Run2/Execute/out.tsv
Experiments/Europe/Custom/Posterior/Run2/Execute/outsettings.config
Experiments/Europe/JC69/Posterior/Run2/Execute/out.tre
Experiments/Europe/JC69/Posterior/Run2/Execute/out.tsv
Experiments/Europe/JC69/Posterior/Run2/Execute/outsettings.config
Experiments/Europe200/Custom/Posterior/Run1/Execute/out.tre
Experiments/Europe200/Custom/Posterior/Run1/Execute/out.tsv
Experiments/Europe200/Custom/Posterior/Run1/Execute/outsettings.config
Experiments/Europe200/JC69/Posterior/Run1/Execute/out.tre
Experiments/Europe200/JC69/Posterior/Run1/Execute/out.tsv
Experiments/Europe200/JC69/Posterior/Run1/Execute/outsettings.config
Experiments/Europe200/GTR/Posterior/Run1/Execute/out.tre
Experiments/Europe200/GTR/Posterior/Run1/Execute/out.tsv
Experiments/Europe200/GTR/Posterior/Run1/Execute/outsettings.config
Experiments/Europe200/Custom/Posterior/Run2/Execute/out2.tre
Experiments/Europe200/Custom/Posterior/Run2/Execute/out2.tsv
Experiments/Europe200/Custom/Posterior/Run2/Execute/out2settings.config
Experiments/Europe200/GTR/Posterior/Run2/Execute/out.tre
Experiments/Europe200/GTR/Posterior/Run2/Execute/out.tsv
Experiments/Europe200/GTR/Posterior/Run2/Execute/outsettings.config
Experiments/Europe200/JC69/Posterior/Run2/Execute/out.tre
Experiments/Europe200/JC69/Posterior/Run2/Execute/out.tsv
Experiments/Europe200/JC69/Posterior/Run2/Execute/outsettings.config
